<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:replace="header :: common-header" />
<body>
<div class="preloader">
	<div class="lds-ripple">
		<div class="lds-pos"></div>
		<div class="lds-pos"></div>
	</div>
</div>
<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5"
	 data-sidebartype="full" data-sidebar-position="absolute"
	 data-header-position="absolute" data-boxed-layout="full">
	<div th:replace="header :: common-body" />
	<div class="page-wrapper">
		<div class="row">
			<div class="col-md-12 col-lg-12 col-sm-12">
				<div class="white-box">
					<div class="row" style="margin: auto;">
						<ul class="nav nav-tabs">
							<li th:classappend="${classSaleOffForProduct}? 'active'">
								<a href="#tab-1" data-toggle="tab"><span style="color: red;">Thêm sản phẩm sách</span></a>
							</li> &nbsp;&nbsp;&nbsp;
							<li th:classappend="${classSaleOffForTotal}? 'active'">
								<a href="#tab-2" data-toggle="tab"><span style="color: red;">Thêm sản phẩm đồ điện</span></a>
							</li> &nbsp;&nbsp;&nbsp;
							<li th:classappend="${classSaleOffForProduct}? 'active'">
								<a href="#tab-3" data-toggle="tab"><span style="color: red;">Thêm sản phẩm quần áo</span></a>
							</li> &nbsp;&nbsp;&nbsp;
						</ul>

						<div class="tab-content">

							<!-- create new user pane -->
							<div class="tab-pane fade" id="tab-1"
								 th:classappend="${classSaleOffForProduct}? 'in active'">
								<form action="/newBook" method="post"
									  th:oject="${book}">
									<div class="d-md-flex mb-2">
										<div class="row" style="width: 50%">
											<div class="col-md-12 col-lg-12 col-sm-12">
												<div class="white-box">
													<div class="d-md-flex mb-3">
														<h3 class="box-title mb-0">Danh sách sản phẩm</h3>
														<div class="col-md-3 col-sm-4 col-xs-6 ms-auto"
															 style="width: 50%;">
															<input type="text" placeholder="Tìm kiếm sản phẩm"
																   class="form-control mt-0" id="productInput"
																   onkeyup="filterSearchProduct()">
														</div>
													</div>
													<div class="table-wrapper-scroll-y my-custom-scrollbar">
														<table class="table table-bordered table-striped mb-0"
															   id="supplierTable">
															<thead>
															<tr>
																<th class="border-top-0">Chọn</th>
																<th class="border-top-0">Tên sách</th>
																<th class="border-top-0">Tác giả</th>
																<th class="border-top-0">Năm xuất bản</th>
															</tr>
															</thead>
															<tbody>
															<tr th:each="product : ${productList}">
																<td>
																	<div class="custom-control custom-checkbox">
																		<input type="checkbox" class="custom-control-input"
																			   th:field="${book.product.id}"
																			   th:value="${product.id}">
																	</div>
																</td>
																<td class="txt-oflo" th:text="${product.name}"></td>
																<td th:text="${product.price}"></td>
																<td class="txt-oflo" th:text="${product.description}"></td>
															</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>

										<!-- input info-->
										<div class="row"
											 style="margin-left: 20px !important; width: 50%;">
											<div class="col-md-12 col-lg-12 col-sm-12">
												<div class="white-box">
													<label>Tên </label> <input type="text"
																				  th:field="${book.product.name}"
																				  placeholder="Tên sách" class="form-control mt-0">
													<br> <label>Tác giả</label> <input type="text"
																						 th:field="${book.author}"
																						 placeholder="Tác giả" class="form-control mt-0">
													<br> <label>Danh mục</label> <input type="text"
																					 th:fiel="${book.category}"
																					 placeholder="Danh mục" class="form-control mt-0"> <br>
													<br> <label>Năm xuất bản</label> <input type="date"
																					   th:field="${book.publishYear}"
																					   placeholder="Năm xuất bản" class="form-control mt-0">

													<br> <button type="submit" class="btn btn-success">Thêm mới</button>
												</div>
											</div>
										</div>
								</form>
							</div>
						</div>

						<!-- create new user pane -->
						<div class="tab-pane fade" id="tab-2"
							 th:classappend="${classSaleOffForProduct}? 'in active'">
							<div
									style="margin-top: 20px; width: 50%; margin-left: auto; margin-right: auto;">
								<form th:action="@{/newElectronic}" method="post"
									  th:oject="${electronic}">
									<label>Tên </label> <input type="text"
																			th:field="${book.product.name}"
																			placeholder="Tên đồ điện" class="form-control mt-0">
									<br> <label>Nhà sản xuất</label> <input type="text"
																		 th:field="${electronic.producer}"
																		 placeholder="Nhà sản xuất" class="form-control mt-0">
									<br> <label>Nơi sản xuất</label> <input type="text"
																	 th:fiel="${electronic.madeIn}"
																	 placeholder="Mo ta" class="form-control mt-0"> <br>
									<br> <button type="submit" class="btn btn-success">Thêm mới</button>
								</form>
							</div>
						</div>
						<!--Sản phẩm quần áo-->
						<div class="tab-pane fade" id="tab-3"
							 th:classappend="${classNewSaleOffForTotal}? 'in active'">
							<div
									style="margin-top: 20px; width: 50%; margin-left: auto; margin-right: auto;">
								<form th:action="@{/newClothes}" method="post"
									  th:oject="${clothes}">
									<label>Tên </label> <input type="text"
																		 th:field="${clothes.product.name}"
																		 placeholder="Ten sản phẩm" class="form-control mt-0">
									<br> <label>Loại</label> <input type="text"
																	 th:fiel="${clothes.style}"
																	 placeholder="Mo ta" class="form-control mt-0"> <br>
									<br> <label>Kích cỡ</label> <input type="text"
																	th:fiel="${clothes.size}"
																	placeholder="Kích cỡ" class="form-control mt-0"> <br>
									<br> <label>Thiết kế</label> <input type="text"
																	th:fiel="${clothes.design}"
																	placeholder="Thiết kế" class="form-control mt-0"> <br>
									<br> <button type="submit" class="btn btn-success">Thêm mới</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div th:replace="header :: common-footer" />
<div th:replace="header :: common-scripts" />
<script>
	function filterSearchProduct() {
		var input, filter, table, tr, td, i, txtValue;
		input = document.getElementById("productInput");
		filter = input.value.toUpperCase();
		table = document.getElementById("productTable");
		tr = table.getElementsByTagName("tr");
		for (i = 0; i < tr.length; i++) {
			td = tr[i].getElementsByTagName("td")[1];
			if (td) {
				txtValue = td.textContent || td.innerText;
				if (txtValue.toUpperCase().indexOf(filter) > -1) {
					tr[i].style.display = "";
				} else {
					tr[i].style.display = "none";
				}
			}
		}
	}
</script>
</body>
</html>